extends layout

block content
	.content
		.header
			h1 Welcome to #{ title }
			p This website is made to give information about animals it is developed for #[em The Odin Project] backend course.

			h2 Here are the animal categories:

		.category-container
			each category in categories
				.category-list-container
					a(href=category.url) #{ category.name }
					p #[strong Description:] #{ category.description }

		.button-container
			button.add-category-btn(type="button") Add new
				|
				i.fa-solid.fa-plus
