doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= title
		script(
			src="https://kit.fontawesome.com/91f7703251.js",
			crossorigin="anonymous"
		)
		link(rel="stylesheet", href="/stylesheets/styles.css")
	body
		navbar
			.logo
				i.fa-solid.fa-paw
				h1= title

			ul.navbar-nav
				li
					a.home(href="/category") Home
				li
					a(href="/animal") Animals
				li
					a(href="/category") Categories

		block content
