@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Fauna+One&display=swap");

/* font-family: 'Cinzel', serif;
font-family: 'Fauna One', serif; */

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--black-clr: #111111;
	--white-clr: #fff;
	--yellow-clr: #fafa14;
	--green-500: #32cd32;
	--green-600: #4cbb17;
	--green-800: #008000;
	--transition-ease: all 180ms ease-in;
	--transition-ease-in-out: all 350ms ease-in-out;
}

body {
	font-family: "Fauna One", serif;
	background-color: var(--white-clr);
	color: var(--black-clr);
	letter-spacing: 0.8px;
	text-align: center;
}

i {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	color: var(--black-clr);
}

li {
	list-style: none;
}

img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

/* Navbar Styling */

navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 5rem;
	font-family: "Cinzel", serif;
}

navbar .logo {
	width: 270px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.7rem;
}

.logo h1 {
	font-size: 1.8rem;
}

.navbar-nav {
	width: 400px;
	display: flex;
	justify-content: space-around;
	font-size: 1.5rem;
	font-weight: 500;
}

.navbar-nav li {
	padding-block: 1.5rem;
}

.navbar-nav li:nth-child(1) {
	background-color: var(--black-clr);
	color: var(--white-clr);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.navbar-nav li:nth-child(1):hover {
	background-color: var(--yellow-clr);
	transition: var(--transition-ease-in-out);
}

.navbar-nav li:nth-child(1):hover a {
	color: var(--black-clr);
	transition: var(--transition-ease-in-out);
}

.navbar-nav .home {
	font-weight: bold;
	color: var(--white-clr);
	padding-inline: 0.8rem;
}

.navbar-nav li a {
	display: inline-block;
}

.navbar-nav li a::after {
	content: "";
	width: 0px;
	height: 1px;
	display: block;
	background: var(--black-clr);
	transition: var(--transition-ease-in-out);
}

.navbar-nav li a:hover::after {
	width: 100%;
}

/* Category Page Styling */

.content {
	padding: 2rem 5rem;
	text-align: left;
}

.header {
	margin-bottom: 1rem;
	line-height: 2rem;
}

.header p {
	border-bottom: 1px solid var(--black-clr);
}

.header h2 {
	margin-block: 1rem;
}

.category-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	margin-bottom: 1.5rem;
}

.category-list-container {
	border: 1px solid var(--black-clr);
	border-radius: 5px;
	padding: 0.8rem;
}

.category-list-container a {
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: underline;
}

.category-list-container a:hover {
    color: #1e6780;
}

.category-list-container p {
	margin-top: 0.7rem;
}

.button-container {
	width: 100%;
	text-align: center;
}

.add-category-btn {
    justify-self: center;
    gap: .4rem;
	padding: .6rem;
	font-family: "Cinzel", serif;
	border: 2px solid var(--black-clr);
	border-radius: 3px;
	cursor: pointer;
	font-size: 1.1rem;
	font-weight: bold;
	background-color: transparent;
    transform: translateZ(0);
    backface-visibility: hidden;
	transition: var(--transition-ease);
}

.add-category-btn i {
    margin-left: .5rem;
    font-size: 1.2rem;
}

.add-category-btn:hover {
	scale: 1.05;
}


/* Animal List Page Styling */

.content .animal-list-heading {
	text-align: center;
}

.animal-list-container {
	margin-block: 2rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.animal-card {
	border: 2px inset var(--black-clr);
	border-radius: 5px;
}

.animal-card img {
	border-bottom: 1px solid var(--black-clr);
}

.animal-card-details {
	padding: 1rem 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	text-align: center;
}

.animal-card p:nth-child(2) {
	text-transform: capitalize;
}

.animal-card p:nth-child(3) {
	margin-top: 0.3rem;
	text-align: left;
}

.animal-card p:nth-child(4) {
	margin-top: 0.5rem;
	text-align: justify;
}

.animal-card a:first-child {
	font-weight: bold;
	font-size: 1.2rem;
	text-decoration: underline;
}

.category-link {
	padding: 0.3rem;
	margin-left: 0.5rem;
	border: 1px solid var(--black-clr);
	border-radius: 3px;
}

.category-link:hover {
	animation: ping 1s infinite ease-in-out;
}

.common {
	color: var(--green-800);
}

.vulnerable {
	color: #d1d102;
}

.endangered {
	color: red;
}

.extinct {
	color: rebeccapurple;
}

@keyframes ping {
	0% {
		opacity: 0.2;
	}
	25% {
		opacity: 0.4;
	}
	50% {
		opacity: 0.6;
	}
	75% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
	}
}
