@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Fauna+One&display=swap");

/* font-family: 'Cinzel', serif;
font-family: 'Fauna One', serif; */

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--black-clr: #111111;
	--gray-clr: #808080;
	--white-clr: #fff;
	--orange-500: #bb7b03;
	--yellow-400: #fafa08;
	--green-400: #32cd32;
	--green-600: #4cbb17;
	--green-800: #008000;
	--red-800: #880808;
	--red-600: #8b0000;
	--red-400: #ff0000;
	--blue-400: #007bff;
	--blue-600: #0000ff;
	--blue-800: #00008b;
	--font-header: "Cinzel", serif;
	--font-body: "Fauna One" serif;
	--transition-ease: all 180ms ease-in;
	--transition-bg: background-color 150ms ease-in;
	--transition-ease-in-out: all 350ms ease-in-out;
	--animate-ping: ping 1s infinite ease-in-out;
	--animate-slide: slide 1s ease;
	--border-radius-sm: 5px;
	--border-radius-xs: 3px;
	--border-radius-big: 10px;
	--border-radius-round: 50%;
}

body {
	font-family: var(--font-body);
	background-color: var(--white-clr);
	color: var(--black-clr);
	letter-spacing: 0.8px;
	text-align: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

i {
	font-size: 1.5rem;
}

h1,
h2,
h3 {
	font-family: var(--font-header);
}

a {
	text-decoration: none;
	color: var(--black-clr);
}

li {
	list-style: none;
}

img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

button {
	padding: 0.5rem;
	border: none;
	cursor: pointer;
}

textarea {
	height: 150px;
}

/* Navbar Styling */

navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 5rem;
	font-family: var(--font-header);
}

navbar .logo {
	width: 270px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.7rem;
}

.logo h1 {
	font-size: 1.8rem;
}

.navbar-nav {
	width: 400px;
	display: flex;
	justify-content: space-around;
	font-size: 1.5rem;
	font-weight: 500;
}

.navbar-nav li {
	padding-block: 1.5rem;
}

.navbar-nav li:nth-child(1) {
	background-color: var(--black-clr);
	color: var(--white-clr);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.navbar-nav li:nth-child(1):hover {
	background-color: var(--yellow-400);
	transition: var(--transition-ease-in-out);
}

.navbar-nav li:nth-child(1):hover a {
	color: var(--black-clr);
	transition: var(--transition-ease-in-out);
}

.navbar-nav .home {
	font-weight: bold;
	color: var(--white-clr);
	padding-inline: 0.8rem;
}

.navbar-nav li a {
	display: inline-block;
}

.navbar-nav li a::after {
	content: "";
	width: 0px;
	height: 1px;
	display: block;
	background: var(--black-clr);
	transition: var(--transition-ease-in-out);
}

.navbar-nav li a:hover::after,
.navbar-nav li a:focus::after {
	width: 100%;
}

/* Category Page Styling */

.content {
	flex-grow: 1;
	padding: 2rem 5rem;
	text-align: left;
}

.header {
	margin-bottom: 1rem;
	line-height: 2rem;
}

.header p {
	border-bottom: 1px solid var(--black-clr);
}

.header h2 {
	margin-block: 1rem;
}

.category-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	margin-bottom: 1.5rem;
}

.category-list-container {
	border: 1px solid var(--black-clr);
	border-radius: 5px;
	padding: 0.8rem;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	gap: 0.5rem;
}

.category-list-container a {
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: underline;
}

.category-list-container a:hover {
	animation: var(--animate-ping);
}

.category-list-container p {
	margin-top: 0.7rem;
}

.category-btn-container {
	display: flex;
	align-items: center;
	text-align: center;
	gap: 0.8rem;
}

.category-btn-container a {
	font-weight: bold;
	font-size: 0.923rem;
	width: 140px;
	text-decoration: none;
	border-radius: 3px;
	padding: 0.3rem;
	background-color: transparent;
	transition: var(--transition-ease);
}

.category-btn-container a:nth-child(1) {
	border: 2px solid var(--green-600);
}

.category-btn-container a:nth-child(2) {
	border: 2px solid var(--red-600);
}

.category-btn-container a:hover,
.category-btn-container a:focus {
	scale: 1.05;
}

.button-container {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.add-category-btn {
	justify-self: center;
	gap: 0.4rem;
	padding: 0.6rem;
	font-family: var(--font-header);
	border: 2px solid var(--black-clr);
	border-radius: 3px;
	cursor: pointer;
	font-size: 1.1rem;
	font-weight: bold;
	background-color: transparent;
	transform: translateZ(0);
	backface-visibility: hidden;
	transition: var(--transition-ease);
}

.add-category-btn i {
	margin-left: 0.5rem;
	font-size: 1.2rem;
}

.add-category-btn:hover {
	scale: 1.01;
}

/* Animal List Page Styling */

.content .animal-list-heading {
	text-align: center;
}

.animal-list-heading i {
	margin-top: 1rem;
	font-size: 2.3rem;
	cursor: pointer;
}

.animal-list-heading i:hover {
	animation: var(--animate-ping);
}

.animal-list-container {
	margin-block: 2rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.animal-card {
	border: 2px inset var(--black-clr);
	border-radius: 5px;
}

.animal-card img {
	border-bottom: 1px solid var(--black-clr);
}

.animal-card-details {
	padding: 1rem 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	text-align: center;
}

.animal-card-details a {
	font-family: var(--font-header);
}

.animal-card-details a:hover {
	animation: var(--animate-ping);
}

.animal-card p:nth-child(2) {
	text-transform: capitalize;
	margin-bottom: 0.5rem;
}

.animal-card p:nth-child(3) {
	margin-top: 0.3rem;
	text-align: left;
}

.animal-card p:nth-child(4) {
	margin-top: 0.5rem;
	text-align: justify;
}

.animal-card a:first-child {
	font-weight: bold;
	font-size: 1.2rem;
	text-decoration: underline;
}

.category-link {
	padding: 0.3rem;
	margin-left: 0.5rem;
	border: 1px solid var(--black-clr);
	border-radius: 3px;
}

.category-link:hover {
	animation: var(--animate-ping);
}

.common,
.vulnerable,
.endangered,
.extinct {
	text-transform: capitalize;
}

.common {
	color: var(--green-800);
}

.vulnerable {
	color: var(--orange-500);
}

.endangered {
	color: red;
}

.extinct {
	color: rebeccapurple;
}

/* Category/Animal Details Styling */

.category-details-heading h1:first-child {
	text-decoration: underline;
}

.category-details-heading p::first-letter {
	text-transform: capitalize;
}

.category-details-heading {
	display: flex;
	flex-direction: column;
	gap: 0.9rem;
}

.category-title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.icons-container {
	display: flex;
	align-self: flex-end;
	gap: 0.5rem;
}

.icons-container i {
	font-size: 1.3rem;
	cursor: pointer;
}

.icons-container a:nth-child(1):hover,
.icons-container a:nth-child(1):focus {
	color: var(--red-400);
}

.icons-container a:nth-child(2):hover,
.icons-container a:nth-child(2):focus {
	color: var(--green-400);
}

.category-details-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1.2rem;
}

.category-details-card {
	display: flex;
	gap: 0.8rem;
	border: 2px solid var(--black-clr);
	border-radius: var(--border-radius-sm);
}

.category-details-card img {
	width: 250px;
	aspect-ratio: 1/1;
	border-right: 2px solid var(--black-clr);
}

.category-details-content {
	padding: 0.7rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.category-details-content a:first-child {
	font-size: 1.3rem;
	font-family: var(--font-header);
	text-decoration: underline;
}

.category-details-content a:first-child:hover {
	animation: var(--animate-ping);
}

.category-details-content p:nth-child(2) {
	text-transform: capitalize;
	margin-bottom: 0.5rem;
}

.category-details-content p:nth-child(4) {
	margin-top: 0.7rem;
}

.text-error {
	color: var(--red-600);
	text-decoration: underline;
	font-size: 1.1rem;
	font-weight: bold;
}

.slide-text {
	animation: var(--animate-slide);
}

/* Form Styling */

.content .form-header {
	text-align: center;
}

.form-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 1rem;
}

form.category-form {
	width: 50%;
	margin-top: 2rem;
	border: 2px solid var(--gray-clr);
	border-radius: 3px;
	padding: 1.5rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

.form-group {
	text-align: left;
}

.form-group label {
	display: block;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0.4rem;
}

.form-control {
	width: 100%;
	padding: 0.5rem 0.8rem;
	font-size: 1rem;
}

.form-btn-container button {
	width: 100%;
	padding: 0.8rem;
	border-radius: var(--border-radius-xs);
	background-color: var(--blue-400);
	color: var(--white-clr);
	font-size: 1.1rem;
	margin-top: 0.6rem;
}

.form-btn-container button:hover,
.form-btn-container button:focus {
	animation: var(--animate-ping);
}

.errors-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.errors-container li {
	list-style-type: disc;
	text-decoration: none;
}

/* Delete Category/Animal Styling */

.delete-header {
	margin-bottom: 1rem;
}

.delete-header h1 {
	margin-bottom: 0.8rem;
}

.delete-header p::first-letter {
	text-transform: capitalize;
}

.delete-list {
	margin-top: 0.8rem;
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

.delete-list-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	gap: 1rem;
}

.delete-list-card img {
	width: 180px;
	aspect-ratio: 1/1;
	border: 2px solid var(--black-clr);
	border-radius: var(--border-radius-sm);
}

.delete-card-details {
	display: flex;
	flex-direction: column;
}

.delete-card-details a {
	font-weight: bold;
	text-decoration: underline;
}

.delete-card-details a:hover {
	animation: var(--animate-ping);
}

.delete-card-details p::first-letter {
	text-transform: capitalize;
}

.animal-delete-container {
	margin-top: 1rem;
}

.delete-btn {
	margin-top: 1rem;
	width: 100px;
	font-size: 1rem;
	background-color: var(--blue-400);
	color: var(--white-clr);
	border-radius: var(--border-radius-sm);
}

.delete-btn:hover,
.delete-btn:focus {
	animation: var(--animate-ping);
}

@keyframes ping {
	0% {
		opacity: 0.2;
	}
	25% {
		opacity: 0.4;
	}
	50% {
		opacity: 0.6;
	}
	75% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide {
	0% {
		transform: translateX(-1000px);
	}
	100% {
		transform: translateX(0);
	}
}
